<p *ngIf="this.reason" class="reason">{{this.reason}}</p>

<mat-form-field appearance="fill">
  <mat-label>Username</mat-label>
  <input matInput autofocus autocomplete="username" [formControl]="username" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <input matInput type="password" autocomplete="current-password"
    [formControl]="password" />
</mat-form-field>

<button mat-raised-button (click)="login()" color="primary">Login</button>
<p>Not a member? <a mat-button routerLink="/register"
    color="accent">Register</a></p>