<mat-toolbar color="primary">
  <a class="title" mat-button routerLink="/home">Korpen Volleyboll</a>

  <button mat-button [matMenuTriggerFor]="teamMenu">Teams</button>
  <mat-menu #teamMenu="matMenu">
    <mat-list *ngFor="let division of divisions">
      <h4 mat-subheader>{{division.name}}</h4>
      <a mat-menu-item *ngFor="let team of getTeamsInDivision(division.id)"
        routerLink="/teams/{{team.key}}">{{team.name}}</a>
    </mat-list>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="divisionMenu">Divisions</button>
  <mat-menu #divisionMenu="matMenu">
    <a mat-menu-item *ngFor="let division of divisions"
      routerLink="/divisions/{{division.key}}">{{division.name}}</a>
  </mat-menu>

  <span class="right-align-spacer"></span>

  <a mat-button *ngIf="!this.isAuthenticated" routerLink="/login">Login</a>
  <a mat-button *ngIf="!this.isAuthenticated"
    routerLink="/register">Register</a>

  <button mat-button *ngIf="this.isAdmin" [routerLink]="'/admin'">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-button *ngIf="this.isAuthenticated"
    [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <a mat-menu-item routerLink="/settings">Settings</a>
    <a mat-menu-item (click)="this.logout()">Logout</a>
  </mat-menu>
</mat-toolbar>