
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$my_primary: (
    50 : #ebf7ec,
    100 : #ceead0,
    200 : #adddb0,
    300 : #8eed90,
    400 : #74c479,
    500 : #5bba61,
    600 : #53b359,
    700 : #248934,
    800 : #40a345,
    900 : #2f9433,
    A100 : #daffdc,
    A200 : #a7ffab,
    A400 : #74ff7a,
    A700 : #5bff61,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/* For use in src/lib/core/theming/_palette.scss */
$my_secondary: (
    50 : #ebf6f7,
    100 : #cee9ea,
    200 : #addadd,
    300 : #8ee7ec,
    400 : #74c0c4,
    500 : #5bb5ba,
    600 : #53aeb3,
    700 : #22858a,
    800 : #409da3,
    900 : #2f8d94,
    A100 : #dafdff,
    A200 : #a7f9ff,
    A400 : #74f6ff,
    A700 : #5bf4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$amazestats-primary: mat-palette($my_primary, 500, 300, 700);
$amazestats-accent: mat-palette($my_secondary, 500, 300, 700);

// The warn palette is optional (defaults to red).
$amazestats-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$amazestats-theme: mat-light-theme($amazestats-primary, $amazestats-accent, $amazestats-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($amazestats-theme);

/* You can add global styles to this file, and also import other style files */
.alternate-theme {
    $alternate-primary: mat-palette($my_primary, 700);
    $alternate-accent: mat-palette($my_secondary, 700);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $amazestats-warn);

    @include angular-material-theme($alternate-theme);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
