<table mat-table [dataSource]="setupDataSource()"  multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>
  <ng-container matColumnDef="homeTeam">
    <th mat-header-cell *matHeaderCellDef>Home team</th>
    <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
  </ng-container>
  <ng-container matColumnDef="awayTeam">
    <th mat-header-cell *matHeaderCellDef>Away team</th>
    <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>Score</th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>
  

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>


</table>
<mat-list>
  <h3 mat-subheader>Matches</h3>
  <mat-list-item *ngFor="let match of matches">
    <h4 mat-line>{{ this.getTeamNameById(match.homeTeam, teams) }} -
      {{ this.getTeamNameById(match.awayTeam, teams) }}</h4>
    <p mat-line>
      <span *ngFor="let set of match.sets">
        {{ set.homeScore }} - {{ set.awayScore }}
      </span>
    </p>
    <p mat-line>
      Referee: {{ this.showReferee(match.referee, teams) }}
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>